.container {
	position: relative;
	margin: auto;
	width: 100%;
}

.input {
	box-sizing: border-box;
	color: #191919;
	padding: 12px 12px 12px 35px;
	width: 98%;
	margin: 10px;
}

.container .icon {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.input_register {
	box-sizing: border-box;
	color: #191919;
	padding: 12px 35px 12px 12px;
	width: 95%;
	margin: 10px;
}

.icon_right {
	position: absolute;
	width: 22px;
	height: 22px;
	left: unset;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

@media (max-width: 820px) {
	.icon_right {
		width: 30px;
		right: 5vw;
	}
	.container .icon_right {
		width: 28px;
		height: 28px;
	}
	.container .icon {
		width: 28px;
		height: 28px;
	}
}
